@CHARSET "ISO-8859-1";

#nav-container {
	position: relative;
	float: right;
	right: 20%;
	top: -80px;
	width: 800px;
	height: 50px;
	font-family: arial, sans-serif;
	font-size: 22px;
	color: white;
	text-align: center;
}
#nav-container ul li { 
	float: left;
	margin-top: 12px;
	margin-left: 100px;
	list-style-type: none;
	cursor: pointer;
}
#nav-container ul li:hover{
	border-bottom: 2px solid rgb(287,200,51);
}
#Img-container{
	position: absolute;
	top: 120px;
	width: 1497px;
	height: 83%;
	border: 1px solid black;
	background-color: balck;
}
#Img-container img {
	width: 100%;
	height: 100%;
}